.container {
  display: flexbox;
  flex-direction: column;
  justify-content: flex-start;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  margin: 2px;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 5px;
  /*background:
  url("teal_background.jpg") bottom center no-repeat,
  url("teal_background.jpg") repeat;*/
  background-color: rgb(113, 183, 216);
  color: rgb(3, 57, 109);
}

.blue-rect {
  height: 350px;
  background-color: rgb(137, 214, 214);
  /*border: 2px solid rgb(27, 83, 185);*/
}
.green-rect {
  height: 25px;
  background-color: rgb(193, 235, 224);
  /*border: 1px solid rgb(78, 170, 141);*/
}
.yellow-rect {
  height: 80px;
  background-color: rgb(137, 214, 214);
  /*border: 3px dashed rgb(240, 224, 7);*/
}
.brightgreen-rect {
  height: 154px;
  background-color: rgb(137, 214, 214);
  border: 2px solid rgb(132, 231, 3);
}
.header {
  background:  rgb(137, 214, 214);
  border: 1px solid rgb(63, 15, 196);
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media only screen and (max-width: 1000px) {
  body {
    grid-template-columns: 100%;
    background-color: lightblue;
  }

  html {
    background: url(teal_background.jpg) no-repeat center fixed;
    background-size: cover;
  }































/*.container {
  width: 50%;
  border: 5px;
  float: left;

}

.sidebar {
  width: 90%;
  border: 5px;
  margin: .5em auto;
  padding: 10%;
  flex-direction: row;
  /*grid-column-start: 1; 
  grid-column-end: 3; 
  grid-row-start: 1; 
  grid-row-end: 4;
  grid-template-columns: 4fr;
  grid-template-rows: 2fr;*/
  /*border: 2px solid rgb(5, 17, 75);
  border-radius: 5px;
  background-color: rgb(243, 239, 199)
}
.priority {
    display: grid;
    float: right;
    width: 25%;
    flex-direction: row;

    /*grid-column-start: 2; 
    grid-column-end: 4; 
    grid-row-start: 1; 
    grid-row-end: 2;
    grid-template-columns: 4fr;
    grid-template-rows: 1fr;*/
    /*border: 2px solid rgb(5, 17, 75);
    border-radius: 5px;
    background-color: rgb(243, 239, 199)
  }
  .tasklist {
      display: grid;
      grid-column-start: 3; 
      grid-column-start: 3; 
      grid-column-end: 6; 
      grid-row-start:  2; 
      grid-row-end: 6;
      grid-template-columns: 5fr;
      grid-template-rows: 2fr;
      flex-direction: row;
      /*border: 2px solid rgb(5, 17, 75);
      border-radius: 5px;
      background-color: rgb(243, 239, 199)
    }
    div {
      width: 100px;
      height: 20px;
      padding: 25px;
      border: 2px solid rgb(30, 18, 190);
      background: rgb(12, 168, 95);
      align-content: center;
      flex-direction: row;
      /*justify-content: flex-start;
      flex-direction: row;
align-items: flex-start;
align-content: flex-start;
    }
    .content-box { 
      box-sizing: content-box; 
    }
    .border-box { 
      box-sizing: border-box;
    }    
    .selector-for-some-widget {
      box-sizing: content-box;
    }
/*flex-direction: column;
flex-flow: row-wrap;
flex-wrap: nowrap;
justify-content: space-around;
align-items: flex-start;
align-content: flex-start;*/


  /*grid-template-columns: 100px 100px 100px;
  grid-auto-rows: 150px;
  column-gap: 5px;
  row-gap: 5px;*/


/*.container1 { 
  grid-column-start: 1; 
  grid-column-end: 3; 
  grid-row-start: 1; 
  grid-row-end: 4;
  display: grid;
  border: 2px solid rgb(5, 17, 75);
  grid-template-rows: repeat(6, 1fr); 
}
.container2 { 
  grid-column-start: 3; 
  grid-column-end: 6; 
  grid-row-start: 1; 
  grid-row-end: 2; 
  display: grid;
  border: 2px solid rgb(5, 17, 75);
  grid-template-rows: 1fr 1fr;
  
}
.container3 { 
 grid-column-start: 3; 
  grid-column-end: 6; 
  grid-row-start:  2; 
  grid-row-end: 6; 
  display: grid;
  border: 2px solid rgb(5, 17, 75);
  grid-template-rows: repeat(5, 1fr);
}




body {
    font-family: sans-serif;
    margin: 5px;
    /*background:
    url("teal_background.jpg") bottom center no-repeat,
    url("teal_background.jpg") repeat;
    background-color: rgb(73, 201, 201);
    color: rgb(3, 57, 109);
}
.sidebar {
  grid-area: sidebar;
}
    .header {
  grid-area: header;
    }
    .tasklist {
      grid-area: tasklist;
    }
    .priority {
      grid-area: priority;
    }

.wrapper {
  display: grid;
  grid-template-areas:
       "header"
       "sidebar"
       "priority"
       "tasklist"
}
@media only screen and (min-width: 500px) {
    wrapper {
      background-color: rgb(145, 216, 240);
      color: rgb(3, 57, 109);
      grid-template-columns: 100%;
      grid-template-areas:
      "header   header"
      "sidebar  priority"
      "sidebar  tasklist"
      "         tasklist";
    }
  }
  /*@media only screen and (min-width: 600px)   {
    .wrapper {
  grid-gap: 20px;
        grid-template-columns: 120px auto 120px;
        grid-template-areas:
  "header  header  header"
        "sidebar sidesbar priority"
        "sidebar sidebar priority"
        "        tasklist tasklist";
        max-width: 600px;
    }
  }
  @media only screen and (min-width: 992px) {

  }
  @media only screen and (max-width: 1000px) {
    .wrapper {
      grid-template-columns: 100%;
      background-color: lightblue;
      color: darkslategray;
    }
  /*.box {
    background-color: lightgreen;
    color: darkgreen;
    border-radius: 5px;
    padding: 10px;
    font-size: 80%; 
  }
    h1 {
        display: none;
    }*/

  
